@viewport {

    width: device-width;

 }
 @media screen and (min-width: 780px) {
    .full-width-img {
        margin: auto;
        width: 90%;
    }
 }
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    width: 50vw;
    height: 65vh;
    border: 10px solid #000;
}
#Titulo{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
}
.labels{
    font-weight: 1000;
    font-family: 'Courier New', Courier, monospace;
    
}
#Nome{
    height: 2.5em;
    width: 20em;
    margin-bottom: 20px;
    border-radius: 5px;
}
#Email{
    height: 2.5em;
    width: 20em;
    margin-bottom: 20px;
    border-radius: 5px;
}
#Mensagem{
    width: 20em;
    border-radius: 5px;
}
#Botao{
    width: 5em;
    height: 2em;
    background-color: #79DE74;
    border-radius: 5px;
}
.Erro{
    color: #ff0000;
    display: none;
}